<div class="menu">
  <ul>
      <li><a [routerLink]="['/']">Homepage</a></li>
      <li><a [routerLink]="['/about']">About</a></li>
      <li><a [routerLink]="['/login']">Login</a></li>
      <li><a href="https://google.com">Google</a></li>
      <!-- This is an SEO Change -->
      <li><a href="https://youtube.com" rel="nofollow">YouTube</a></li>
      <!-- This is an SEO Change -->
      <img src="../assets/yt-logo.gif" alt="YouTube logo" style="width:40px; height:40px; text-align: center;">
  </ul>
</div>
